<div class="form">
	<% @courses.each do |course| %>

	    <div class="field">
	      <%= course.name %>
	    </div>

	    <div class="field">
	      <%= course.address + " " + course.city + " " + course.state %>
	    </div>

  <% end %>
</div>
