<div class="dealform">
	<% @courses.each do |course| %>
		
		<div class="dealfield">
			<%= image_tag course.avatar.url(:thumb) %>
		</div>
	    <div class="dealfield">
	      <h3><%= course.name %></h3>
	    </div>

	    <div class="dealfield">
	      <h4><%= course.address + " " + course.city + " " + course.state %></h4>
	    </div>

  <% end %>
</div>
