<div class="dealform">
	<% @courses.each do |course| %>
		<div class="sepratedeals">
			<div class="image">
				<%= image_tag course.avatar.url(:medium) %>
			</div>
		    <div class="courseinfo">
		      <h3><%= course.name %></h3>
		      <h4><%= course.address + " " + course.city + " " + course.state %></h4>
		    </div>
		    <div class="courseinfo">
		      <h3 id="tease">Log In to see offers!</h3>
		    </div>
		    <hr>
		</div>
  <% end %>
</div>
