<div class="dealform">
	<div class="image">
		<%= image_tag @player.avatar.url(:medium) %>
	</div>
    <div class="playerinfo">
      <h3><%= @player.first_name + " " + @player.last_name %></h3>
      
    </div>
</div>