/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body{
 	background: url(golfcourse.jpg);
 	background-size: auto;
 	background-repeat: no-repeat;
 	font-family: monospace!important;
 }

header{
 	width: 100%;
 	height: 70px;
 	background-color: gray;
 	color: white;
 	position: fixed;
    top: 0px;
    z-index: 1;
 }

 img{
 	height: 100%;
 	width: auto;
 }

 #name{
 	display: inline;
 	margin-top: 1;
 }

 .homebtns{
	display: inline;
	float: right;
	margin-left: 1%;
	margin-top: 1%;
 }

 .btn{
 	background-color: white;
 	color: black;
 	width: 100%;
 }

 .offerbtn{
 	background-color: white;
 	color: black;
 }

 .btn:hover{
 	background-color: blue;
 }

.form{
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	width: 35%;
	height: auto;
	margin: 0 auto;
	position: relative;
    top: 60px;
    margin-bottom: 90px;
    margin-top: -41px;
}

input{
	color: white;
	width: 100%;
	background: none;
	border: none;}

.actions{
	background-color: black;
	color: white;
	width: 25%;
	margin-left: 35%;
    margin-top: 1%;
}

.field{
	border: none;
	border-bottom: 1px solid white;
}

.partial{
	width: 40%;
	margin-left: 35%;
    margin-top: 1%;
}

.select{
	color: green;
}

a{
	color: green!important;
}

a:hover{
	color: white!important;
}

.dealform{
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	width: 70%;
	height: auto;
	margin: 0 auto;
	position: relative;
    top: 60px;
}

.tease{
	color: red;
}

.carousel-inner{
	width: 100%;
	height: 500px;
}

#carousel-example-generic{
	width: 100%;
    height: 327px;
    background-color: rgba(0, 0, 0, 0.7);
    margin-top: 37px;
}

.dealform.row{
	margin: 0 auto;
}

.times{
	height: 225px;
	overflow-y: scroll;
}

.btn-lg{
	display: inline;
    position: relative;
    bottom: 23px;
    left: 18px;
}

.alloffers{
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	width: 70%;
	height: 500px;
	margin: 10px auto;
	overflow: scroll;
	margin-bottom: 100px;

}

footer{
	width: 100%;
	height: 100px;
	background: url(banner.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: white;
	position: fixed;
	bottom: -20px;
}

#dLabel{
	background-color: white;
	color: black;
	width: 75px;
	position: relative;
	right: 10px;
}

.dropdown-menu{
	left: -180px!important;
	width: 246px;
}